.job-posting-page {
  
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ecf0f1;
  border-radius: 12px;
}

.job-posting-page h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.4rem;
  color: #050505;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 24px;
  padding: 0 40px; /* Center the cards in each column */
}


